body{
    background-color: rgb(75, 74, 74);
    color: white;
}
.jumbo-color{
    background-color:rgb(118, 128, 119)
}
/* .form-control{
    background-color: rgb(240, 226, 226)!important;
} */